 * {
	 box-sizing: border-box;
 }
 
 html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
}

h1 {
	display: inline-block;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	letter-spacing:1px;
}

h2 {
	margin: 0;
	border-bottom: 1px solid #dedee2;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.bg {
	background-color: #00ae87;
}

.header {
	padding-bottom: 20px;
}

.right-button {
	margin-left: 20%;
	margin-bottom: 30px;
	padding: 25px;
	background-color: darkorange;
	border-radius: 30%;
	font-size: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.right-button:hover {
	content: "";
	color: #dedee2;
	padding-left: 10px;
	background-color: #ed9a57;
	box-shadow: 2px 2px 2px 10px rgba(202, 160, 61, 0.733);
}

#header-bar{
	padding: 18px 0;
	font-size: 16px;
	color: white;
	background-color: #00122f;
	box-shadow: 0 0 0 10px rgba(197, 192, 192, 0.5);
}

.header-bar-link {
	color: white;
	border-bottom: 1px solid #fff;
	transition: color 0.3s ease-in-out;
}

.header-bar-link:hover {
	color: #00ae87;
	transition: color 0.3s ease-in-out;
}

.fixed-container {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	overflow: hidden;
}

.bar-date-time {
   float: right;
}

#header-content {
   margin-top: 12px;
   height: 71px; 
}

.header-left {
	float: left;
	max-width: 50%;
}

.header-logo {
	float: left;
	margin-top: 28px;
	margin-right: 60px;
}

.header-left-wrapper {
  position: relative;
	display: inline-block;
	top: 45px;
	margin-right: 40px;
	font-size: 0;
}

.header-left-select:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 15px;
  height: 1px;
  border-bottom: 1px dashed #448ccb;
}

.header-left-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	padding-right: 17px;
	font-size: 16px;
	color: #448ccb;
	border: 0;
  background: url(img/moscow.png) 100% center no-repeat;
}

.header-course {
	display: inline;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.header-course:hover {
	transform: scaleX( 5px), scaleY(5px);
	border: 1px solid #dedee2;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.euro {
	display: inline-block;
	padding-left: 30px;
	margin-top: 40px;
	line-height:30px;
	color: #a0a0a5;
	background: url('img/euro-icon.png') no-repeat left;
	background-size: 26px;
}

.dollar {
	display: inline-block;
	padding-left: 30px;
	margin-left: 20px;
	line-height: 30px;
	color: #a0a0a5;
	background: url('img/dollar-icon.png') no-repeat left;
	background-size: 20px;
}

.popup-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('img/bg.png');

	z-index: 10;
}

.popup {
	position: relative;
	width: 0;
	height: 0;
	padding: 20px;
	margin: 200px auto;
	font-size: 18px;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #448ccb;
}

.pop-euro {
	width: 100%;
	height: 50%;
	padding-top: 50px;
	padding-left: 70px;
	background: url('img/pop-euro.png') no-repeat center left;
	background-size: 55px;
	background-color: #00ae87;
}

.pop-dollar {
	width: 100%;
	height: 50%;
	padding-top: 50px;
	padding-left: 70px;
	background: url('img/pop-dollar.png') no-repeat center left;
	background-size: 55px;
	background-color: #0273e6;
}

.popup-delete {
	position: absolute;
	top: -20px;
	right: -20px;
	width: 15px;
	height: 15px;
	border: none;
	cursor: pointer;
	outline: inherit;
	background: url('img/delete-icon.svg') no-repeat center;
	background-size:100%;
}

.stop-scrolling {
	position: fixed;
	width: 100%;
	overflow: hidden;
}

.header-right {
	float: right;
	max-width: 50%;
}

.header-right-temp {
	display: inline-block;
	padding: 15px 0 10px 40px;
	margin-top: 30px;
	margin-right: 45px;
  color: #a0a0a5;
  font-size: 16px;
  background: url('img/weather.png') no-repeat center left;
}

.header-right-btn {
  float:right;
}

.header-right-input {
  width: 320px;
  height: 45px;
  margin-top: 30px;
	text-indent: 20px;
  background-color: #f6f6f6;
	outline: inherit;
	border: none;
  border-radius: 25px;
 }  

.search-button {
  position: absolute;
  margin-top: 35px;
  width: 30px;
  height: 30px;
  background: url(img/lupa.png) center no-repeat;
  background-size: 65%;
  border: none;
  transform: translateX(-40px) translateY(5px);
  background-color: transparent;
  cursor: pointer;
}

 /*nav-menu styles*/

.nav-container {
	display: inline-block;
}

.nav-list {
	height: 80px;
	margin: 0;
	padding: 0;
	line-height: 15px;
}

.nav-item {
	float: left;
	margin-top: 38px;
}

.nav-item-link {
	display: block;
	width: 100%;
	height: 48px;
	padding-right: 25px;
	color: black;
	transition: color 0.3s ease-in-out;
}

.nav-item-link::after {
	content: "/";
	margin-left: 15px;
	color: #dedee2;
}

.nav-item-link:hover,
.last-item-link:hover {
	color: #448ccb;
	transition: color 0.3s ease-in-out;
}

.nav-container li:nth-child(2n) {
	margin: 38px 0 0 0;
}

/*левая колонка новостей*/
.column-left {
	float: left;
	width: 250px;
	padding-left: 20px;
	padding-right: 25px;
	background-color: #FFF;
}

.news-title {
	padding-bottom: 20px;
	font-size: 21px;
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.news-item {
	margin-bottom: 20px;
}

.last-block {
	margin-bottom: 38px;
}

.news-excerpt {
	margin-bottom: 15px;
	max-width: 95%;
	color: black;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: black;
}

.news-props {
	overflow: hidden;
	font-size: 12px;
}

.news-props-link {
	display: block;
	float: left;
	color: #bebec7;
}

.news-props-right {
	float: right;
}

.news-props-time {
	background: url(img/icon-time.png) no-repeat;
	padding-left: 14px;
	margin-left: 20px;
}

.news-comments-link {
	display: inline-block;
	background: url(img/icon-comments.png) no-repeat;
	padding-left: 14px;
	margin-left: 15px;
}

.news-link {
	display: inline-block;
	padding: 15px 50px;
	margin-bottom: 20px;
	color: #448ccb;
	border: 1px solid #448ccb;
	border-radius: 22.5px;
	background-color: #FFFFFF;
	cursor: pointer;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}	

.news-link:hover {
	background-color: #448ccb;
	color: #FFF;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/*end of column left*/

#column-center {
	float: left;
	overflow: hidden;
	width: 463px;
	margin-left: 20px;
}

#column-center li {
	float: left;
}

#column-center h5,
.special-invicible-title{
	display: none;
}
/*первая новость центрального контейнера*/
.item-big-box {
	width: 460px;
	height: 320px;
	margin-left: 0;
	margin-bottom: 10px;
}

.item-big-description {
	position: relative;
	width: 100%;
}

.item-big-title {
	position: absolute;
	top: 122px;
	left: 20px;
	font-size: 29px;
	font-weight: bold;
	color: white;
	line-height: 36px;
	border-bottom: none;
}

.item-description-link {
	position: absolute;
	top: 113px;
	margin-left: 20px;
	font-size: 12px;
	color: white;
}

.item-big-box-time {
	display: inline-block;
}

.item-big-date {
	position: absolute;
	margin-left: 21px;
	top: 272px;
	font-size: 10px;
	color: white;
}

.item-big-time {
	position: absolute;
	padding-left: 15px;
	margin-left: 116px;
	top: 272px;
	color: white;
	font-size: 10px;
	background: url(img/clock.png) no-repeat;
}

/*список центральных новостей*/

.item-description {
	width: 220px;
	height: 235px;
	margin-bottom: 10px;
}

.item-center:nth-child(2n) {
	margin-left: 0;
	margin-right: 20px;
}

.item-center-img {
	width: 220px;
	height: 143px;
}

.item-center-subtitle {
	padding: 0;
  margin:0 0 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
	font-weight: bold;
}

.item-props-link {
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.item-title__link {
	transition: color 0.3s ease-in-out;
}

.item-title__link:hover {
	color: #448ccb;
	transition: color 0.3s ease-in-out;
}

.item-props-link {
	margin-right: 8px;
	text-decoration: none;
	color: gray;
	font-size: 12px;
	font-weight: normal;
}

.item-props-time {
	padding-left: 15px;
	margin-right: 14px;
	font-size: 12px;
	background: url(img/icon-time.png)  no-repeat;	
}

.item-comments-link {
	padding-left: 14px;
	font-size: 12px;
	color: #000 !important;
	background: url('img/icon-comments.png') no-repeat left;
}

#central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

/*end of column-center*/

#column-right {
	float: right;
	width: 250px;
}

#column-right img {
	margin-bottom: 16px;
}

/* down part of news left*/

.special-teams {
	float: left;
	position: relative;
	width: 588px;
	color: white;
}

.special-teams-img {
	width: 588px;
}

.special-teams-link {
    position: absolute;
    top: 105px;
    left: 20px;
    text-decoration: none;
    font-size: 12px;
		color: white;
}

.special-teams-title {
		position: absolute;
		margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0 0 20px; 
    top:  120px;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    border: none;
}

.special-teams-description {
	position: absolute;
	top: 280px;
	left: 20px;
	width: 490px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
  word-spacing: -2px;
  opacity: 0.8;
}
.special-time-block {
	position: absolute;
	top: 260px;
	left: 20px;
	font-size: 12px;
}

.special-date{
	margin-right: 20px;
}

.special-time {
	padding-left: 20px;
	background: url(img/clock.png) center left no-repeat;
}

	/*end of special-teams*/

#top-news {
	float: left;
	width: 410px;
	height: 400px;
  padding-left: 20px;
  background-color: white;
}

.top-news-title {
	padding-top: 20px;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 30px;
}

.top-news-list {
	width: 360px;
	padding-left: 0;
}

.top-news-info {
	margin-bottom: 30px;
}

.top-news-subtitle {
	color: #000;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 15px;
}

.top-news-link {
	color: #000;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.top-news-link:hover,
.top-news-subtitle:hover {
	color:#448ccb;
	transition: color 0.3s ease-in-out;
}

.top-news-props {
	margin-right: 15px;
	color: #a9a9b3;
	font-size: 12px;
}

.top-news-time {
	padding-left: 15px;
	margin-right: 20px;
	font-size: 12px;
	background: url(img/icon-time2.png) no-repeat ;
}

.top-comments-link {
  padding-left: 18px;
	font-size: 12px;
  background: url(img/icon-comments.png) left no-repeat ;
}

/*end of special news*/

footer {
	overflow: hidden;
	padding-top: 55px;
	margin-top: 40px;
	background-color: #00122f;
}

.footer-container {
	padding-bottom: 58px;
}

.footer-nav-columns {
	float: left;
	min-width: 250px;
}

.footer-list {
	float: left;
	width: 250px;
	columns: 2;
}

.footer-item {
	padding: 10px;
}

.footer-item-link {
	text-decoration: none;
	color: white;
	transition: color 0.3s ease-in-out;
}

.footer-item-link:hover {
	color: #00ae87;
	transition: color 0.3s ease-in-out;
}

/*end of footer*/

.footer-information{
	float: left;
	margin-left: 170px;
}

.footer-information-logo {
	display: inline-block;
	margin-bottom: 15px;
}

.information-item {
	margin-left: 10px;
	line-height: 35px;
}

.information-item-link {
	color: #fff;
	transition: color 0.3s ease-in-out;
}

.information-item-link:hover {
	color: #00ae87;
	transition: color 0.3s ease-in-out;
}

/*end of footer-information*/

.footer-contacts {
	float: right;
}

.contacts-list {
	margin-bottom: 80px;
}

.contacts-list-item {
	float: left;
  width: 40px;
  height: 40px;
	margin-right: 18px;
	border: white 1px solid;
	border-radius: 100%;
	transition: border 0.3s ease-in-out;
}

.contacts-list-item:hover {
	border: 2px solid #00ae87;
	transition: border 0.3s ease-in-out;
}

.contacts-list-item:nth-child(1n) {
	background: url(img/vkontakte.png) center no-repeat;
	background-size: 110%;
	cursor: pointer;
}

.contacts-list-item:nth-child(2n) {
	margin-right: 10px;
	background: url(img/facebook.png) center no-repeat;
	background-size: 110%;
}

.contacts-list-item:nth-child(3n) {
	background: url(img/twitter.png) center no-repeat;
	background-size: 110%;
}

.contacts-list-item:nth-child(4n) {
	background: url(img/instagram.png) center no-repeat;
	background-size: 110%;
}

/*end of footer-contacts*/

.contacts-numbers-item {
	padding-bottom: 30px;
	font-size: 18px;
}

.numbers-item-tel {
	padding-left: 35px;
  color: white;
	background: url(img/phone.png) left no-repeat ;
	transition: color 0.3s ease-in-out;
}

.numbers-item-mail {
	padding-left: 35px;
	color: white;
	background: url(img/latter.png) left no-repeat;
	transition: color 0.3s ease-in-out;
}

.numbers-item-tel:hover,
.numbers-item-mail:hover {
	color:#00ae87;
	transition: color 0.3s ease-in-out;
}

.footer-company {
	clear: both;
	width: 100%;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	opacity: 0.5;
	border-top: 1px solid;
}
