* {
  box-sizing: border-box;
}

body {
  color: var(--black-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--white-color);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("MontserratBlack"), local("Montserrat-Black"),
       url('../fonts/MontserratBlack.woff2') format('woff2'),
       url('../fonts/MontserratBlack.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("MontserratExtraBold"), local("Montserrat-ExtraBold"),
       url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/MontserratExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("MontserratBold"), local("Montserrat-Bold"),
       url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/MontserratBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("MontserratSemiBold"), local("Montserrat-SemiBold"),
       url('../fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../fonts/MontserratSemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("MontserratMedium"), local("Montserrat-Medium"),
       url('../fonts/MontserratMedium.woff2') format('woff2'),
       url('../fonts/MontserratMedium.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("MontserratRegular"), local("Montserrat-Regular"),
       url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/MontserratRegular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("MontserratLight"), local("Montserrat-Light"),
       url('../fonts/MontserratLight.woff2') format('woff2'),
       url('../fonts/MontserratLight.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: local("MontserratExtraLight"), local("Montserrat-ExtraLight"),
       url('../fonts/MontserratExtraLight.woff2') format('woff2'),
       url('../fonts/MontserratExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: local("MontserratThin"), local("Montserrat-Thin"),
       url('../fonts/MontserratThin.woff2') format('woff2'),
       url('../fonts/MontserratThin.woff') format('woff');
}

:root {
  --white-color: #fff;
  --black-color: #333;
  --block-color: #cacaca;
  --container-color: #e5e5e5;
  --hover-link: #ff9900;
  --radius: 32px;
}

/*global styles*/

.title-reset {
  padding: 0;
  margin: 0;
}

.link-style {
  text-decoration: none;
  color: var(--black-color);
}

.container {
  margin: 0 auto;
  max-width: 1830px;
  min-width: 320px;
  padding-right: 22px;
  padding-left: 38px;
  background-color: var(--white-color);
}

.section-style {
  padding-left: var(--gap);
}

.stop-scroll {
  overflow: hidden;
}

.btn-reset {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.p-reset {
  margin: 0;
  padding: 0;
}

.visibility-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*header*/

.header {
  margin-bottom: 50px;
  background-color: var(--white-color);
  box-shadow: 0px 5px 40px 0px #0000001A;
}

.header__block {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 12px;
}

.header__burger {
  display: none;
  padding: 0;
}

.burger {
  display: none;
  padding: 0;
}

.header__logo {
  margin-right: auto;
}

.header__logo-img {
  width: 224px;
  transform: translateX(7px) translateY(3px);
}

.header__nav {
  flex-basis: 40%;
  margin-right: 13%;
}

.header__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header__item >
.header__link {
    text-decoration: none;
    color: var(--black-color);
}

.header__item {
  list-style-type: none;
}

.header__link {
  display: block;
  position: relative;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: 600;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FF9900;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__link:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 2px;
  transition: outline 0.3s ease-in-out;
}

.header__link:focus::after {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__link:active {
  outline: none;
  color: #E1670E;
  transition: color 0.3s ease-in-out;
}

.header__link:active::after {
  outline: none;
  color: #E1670E;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__btn {
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: var(--white-color);
  background-position: center;
  background-repeat: no-repeat;
}

.btn-icon {
  stroke: var(--black-color);
  transition: stroke 0.3s ease-in-out;
}

.btn-icon:hover {
  stroke: var(--hover-link);
  transition: stroke 0.3s ease-in-out;
}

.btn-icon:active {
  stroke: var(--black-color);
  outline: 2px solid var(--hover-link);
  outline-offset: 3px;
  transition: stroke 0.3s ease-in-out;
}

.header__search-form {
  display: flex;
  position: absolute;
  width: 490px;
  margin-right: 30px;
  padding-top: 16px;
  padding-right: 13px;
  padding-bottom: 11px;
  padding-left: 32px;
  top: 16px;
  right: -28px;
  border-radius: 24px;
  box-shadow: 0px 0px 20px 0px #0000001F;
  background: var(--white-color);
  visibility: hidden;
  transform: translateX(120%);
  transition: transform 0.5s ease-in-out, visibility 0.3s ease-in-out;
}

.header__search-form--active {
  transform: none;
  visibility: visible;
  transition: transform 0.5s ease-in-out, visibility 0.3s ease-in-out;
}

.header__search-input {
  margin-right: 15px;
  padding-bottom: 5px;
  width: 412px;
  outline: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
}

.header__search-input[placeholder] {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #adadad;
}

.header__search-btn {
  margin-right: 22px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: var(--white-color);
}

.search__btn-icon {
  stroke: var(--hover-link);
  transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.search__btn-icon:hover {
  stroke: var(--black-color);
  transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
}

.search__btn-icon:focus {
  stroke: var(--black-color);
  outline: 2px solid var(--hover-link);
  outline-offset: 3px;
  transition: stroke 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.btn-icon:active {
  stroke: var(--hover-link);
  transition: stroke 0.3s ease-in-out;
}

.search__reset {
  border: none;
  background-color: var(--white-color);
  cursor: pointer;
}

.reset__svg {
  stroke: var(--block-color);
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.reset__rect {
  fill: var(--block-color);
}

.reset__svg:focus {
  stroke: var(--block-color);
  outline: 2px solid var(--hover-link);
  outline-offset: 3px;
}

.reset__svg:hover {
  stroke: var(--hover-link);
  transition: stroke 0.3s ease-in-out;
}

.reset__svg:hover > .reset__rect {
  fill: var(--hover-link);
  transition: fill 0.3s ease-in-out;
}

.reset__svg:active {
  outline: none;
  stroke: #000;
}

.reset__svg:active > .reset__rect {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}

/*main */
.main-content {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

/* section hero */

.hero {
  position: relative;
  margin-bottom: 45px;
  color: var(--white-color);
}

.hero__content {
  position: relative;
  z-index: 1;
}

.hero .swiper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.swiper-slide {
  max-width: 100%;
  border-radius: 34px;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-one {
  background-image: url('../img/imgDsctp/hero.jpg');
}

.slide-two {
  background-image: url('../img/imgDsctp/hero1920-2.jpg');
}

.slide-three {
  background-image: url('../img/imgDsctp/hero1920-3.jpg');
}

.hero__text {
  position: relative;
  padding-top: 99px;
  padding-left: 82px;
  padding-bottom: 103px;
  max-width: 57%;
  z-index: 1;
}

.hero__title {
  margin-bottom: 2.5%;
  font-weight: 800;
  font-size: 70px;
  line-height: 87px;
  word-spacing: -9px;
  letter-spacing: 1px;
}

.hero__descr {
  margin-bottom: 9.5%;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
}

.hero__btn {
  padding-right: 38px;
  padding-left: 38px;
  font-weight: bold;
  font-size: 23px;
  line-height: 76px;
  color: var(--white-color);
  border-radius: 16px;
  background-color: var(--hover-link);
  transition: background-color 0.3s ease-in-out;
  z-index: 1;
}

.hero__btn:focus {
  outline: 1px solid var(--hover-link);
  outline-offset: 2px;
}

.hero__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:active {
  outline: none;
  background-color: #E1670E;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn-text {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 24px;
  word-spacing: 10px;
  line-height: 29px;
  color: var(--white-color);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: 1%;
  bottom: 28px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 15px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  transition: background-color 0.3s ease-in-out;
}

.swiper-pagination-bullet:hover {
  background-color: var(--white-color);
  transition: background-color 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: var(--white-color);
}

/*section About*/

.about-us {
  margin-bottom: 98px;
}

.about-us__title {
  margin-bottom: 21px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.about-us__descr {
  margin-bottom: 50px;
  max-width: 70%;
  line-height: 32px;
}

.about-us__content {
  display: flex;
  justify-content: space-between;
}

.about-us__left {
  position: relative;
  width: 49%;
}

.about-us__img {
  width: 100%;
  object-fit: cover;
}

.about-us__block {
  position: absolute;
  bottom: 3px;
  display: flex;
  padding-top: 52px;
  padding-right: 47px;
  padding-bottom: 56px;
  padding-left: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-us__paragraph {
  margin: 0;
  margin-right: auto;
  max-width: 64%;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--white-color);
}

.about-us__link-btn {
  padding: 18px 38px;
  text-align: center;
  color: var(--white-color);
  line-height: 20px;
  border: 3px solid var(--hover-link);
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
}

.about-us__link-btn:hover,
.about-us__link-btn:focus {
  color: var(--white-color);
  background-color: var(--hover-link);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.about-us__link-btn:active {
  border: 3px solid #E1670E;
  background-color: #E1670E;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.about-us__right {
  width: 49.1%;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.about-us__item {
  border: 1px solid #CACACA;
  border-radius: var(--radius);
  list-style-type: none;
  border-radius: 24px;
}

.about-us__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-us__link {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 65px;
  padding-right: 113px;
  padding-bottom: 62px;
  padding-left: 57px;
  color: black;
}

.about-us__wrapper {
  max-width: 65%;
}

.about-us__list-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
}

.about-us__info{
  line-height: 35px;
}

.about-us__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
  color: var(--black-color);
}

/*section work*/

.work {
  margin-bottom: 108px;
}

.work__title {
  margin-bottom: 47px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.work__list {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.work__item {
  position: relative;
  display: inline-block;
}

.work__item:not(:last-child) {
  margin-right: 65px;
}

.item__btn {
  font-size: 18px;
  transition: color .2s ease-in-out;
  text-decoration: none;
  color: var(--black-color);
}

.work__item--active {
  color: var(--hover-link);
}

.item__btn:hover {
  transition: color .2s ease-in-out;
  color: var(--hover-link);
}

.item__btn:focus {
  outline: 1px solid var(--hover-link);
  outline-offset: 5px;
  transition: outline .2s ease-in-out;
}

.item__btn:focus:hover {
  outline: none;
}

.item__btn:active {
  color: #E1670E;
  transition: color .2s ease-in-out;
}

.work__detalis {
  display: flex;
}

.work__description {
  display: flex;
  margin-right: auto;
  width: 44%;
  flex-direction: column;
}

.work__description-wrapper {
  display: none;
}

.work__description--active {
  display: block;
}

.work__description-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
}

.work__description-block {
  margin-bottom: 11px;
}

.work__description-text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  Font-size: 16px;
  Line-height: 36px;
}

.work__links {
  display: flex;
  justify-content: space-between;
  max-width: 45.5%;
}

.work__link-detalis,
.work__link-contract {
  border-radius: 16px;
  text-decoration: none;
  color: var(--black-color);
}

.work__link-detalis {
  padding-left: 40px;
  padding-right: 38px;
  margin-right: 33px;
  text-align: center;
  font-weight: bold;
  line-height: 62px;
  color: var(--white-color);
  background-color: var(--hover-link);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.work__link-detalis:hover {
  background-color: #F7B045;
  transition: background-color .3s ease-in-out;
}

.work__link-detalis:active {
  background-color: #E1670E;
  transition: background-color .3s ease-in-out;
}

.work__link-contract {
  padding-right: 38px;
  padding-left: 33px;
  text-align: center;
  font-weight: bold;
  line-height: 62px;
  border: solid 1px var(--black-color);
  transition: background-color .3s ease-in-out;
}

.work__link-contract:hover {
  color: var(--white-color);
  border: 1px solid #666;
  background-color: #666;
  transition: background-color .3s ease-in-out;
}

.work__link-contract:active {
  color: var(--white-color);
  border: 1px solid var(--black-color);
  background-color: var(--black-color);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.work__img {
  display: none;
  max-width: 49%;
  padding-top: 4px;
}

.work__img--active {
  display: block;
}

.work__img-pict {
  width: 100%;
  border-radius: var(--radius);
}

/*section question*/

.question {
  margin-bottom: 108px;
}

.question__title {
  margin-bottom: 31px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.question__list{
  margin: 0;
  padding: 0;
}

.question__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__item-btn {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin-top: -1px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  text-align: left;
  Font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.question__item-btn:hover,
.question__item-btn:focus {
  z-index: 1;
  border-color: var(--hover-link);
  color: var(--hover-link);
  transition: color 0.3s ease-in-out;
}

.question__item-btn:hover .accordion__plus {
  background-color: var(--hover-link);
  transition: background-color 0.3s ease-in-out;
}

.question__item-btn:hover .plus,
.question__item-btn:focus .plus {
  background-color: var(--white-color);
  transition: background-color 0.3s ease-in-out;
}

.question__item-btn:active {
  color: #000;
  transition: color 0.3s ease-in-out;
}

.question__item-btn:focus .accordion__plus {
  background-color: var(--hover-link);
  transition: background-color 0.3s ease-in-out;
}

.question__item-btn:active  .accordion__plus{
  background-color: var(--block-color);
  transition: color 0.3s ease-in-out;
}

.question__item-btn:active .plus{
  background-color: var(--black-color);
  transition: color 0.3s ease-in-out;
}

.accordion__content {
	overflow: hidden;
	visibility: hidden;
	transition-property: height, visibility;
	transition-timing-function: ease;
}

.accordion__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.accordion--active .accordion__content {
	visibility: visible;
}

.accordion--active
.accordion__title,
.ac__text {
  color: #000;
}

.accordion--active .accordion__title {
  margin-bottom: 30px;
}

.accordion--active.accordion__plus {
  background-color: var(--block-color);
}

.accordion--active .question__item-btn .accordion__plus {
  background-color: var(--block-color);
}

.accordion--active .question__item-btn .plus {
  background-color: var(--black-color);
}

.ac__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.ac__text:not(:last-child) {
  margin-bottom: 30px;
}

.accordion__wrapper {
  max-width: 85%;
}

.accordion__plus {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: var(--block-color);
  border-radius: 50%;
  transform: translateX(6px) translateY(-10px);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.plus {
  display: block;
  background-color: #000;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.plus:not(:last-child) {
  position: absolute;
  width: 31px;
  height: 1px;
  top: 50%;
  left: 20%;
}

.plus:not(:first-child) {
  position: absolute;
  height: 31px;
  width: 1px;
  top: 20%;
  left: 50%;
}

.accordion--active {
  transition: transform 0.3s ease-in-out;
}

.accordion--active .plus:not(:last-child) {
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

.accordion--active .plus:not(:first-child) {
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}

/*footer*/

.footer {
  background-color: #222222;
}

.footer > .container {
  background-color: #222222;
}

.footer__content {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  justify-content: space-between;
  background-color: #222;
}

.footer-info {
  width: 21%;
}

.footer-info__logo {
  display: block;
  margin-bottom: 28px;
}

.footer-info__navigation {
  margin-bottom: 98px;
}

.footer-info__list {
 display: flex;
 flex-direction: column;
 margin: 0;
 padding: 0;
}

.footer-info__item {
  list-style-type: none;
}

.footer-info__item:not(:last-child) {
  margin-bottom: 13px;
}

.footer-info__item-link {
  font-weight: 600;
  font-size: 18px;
  color: var(--block-color);
  line-height: 22px;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.footer-info__item-link:hover {
  color:var(--hover-link);
  transition: color .3s ease-in-out;
}

.footer-info__item-link:focus {
  color: #CACACA;
  outline: 1px solid #ff9900;
  outline-offset: 5px;
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.footer-info__item-link:active {
  outline: none;
  color: #E1670E;
  transition: color .3s ease-in-out, outline .3s ease-in-out;
}

.footer-info__social-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-info__social-item:not(:last-child) {
  margin-right: 24px;
}

.footer-info__social-item {
  list-style-type: none;
}

.footer-info__social-link {
  display: block;
  transition: outline .3s ease-in-out;
}

.footer-info__social-link:focus {
  outline: 1px solid var(--hover-link);
  outline-offset: 5px;
  transition: outline .3s ease-in-out;
}

.footer-info__social-link:active {
  outline: none;
  transition: outline .3s ease-in-out;
}

.fb,
.vk,
.inst {
  fill: #7C7C7C;
  transition: fill .3s ease-in-out;
}

.fb:hover,
.vk:hover,
.inst:hover {
  fill: var(--hover-link);
  transition: fill .3s ease-in-out;
}

.fb:active,
.vk:active,
.inst:active {
  outline: none;
  fill: #E1670E;
  transition: fill .3s ease-in-out, outline .3s ease-in-out;
}

.footer-form {
  width: 570px;
}

.footer-form__contacts-form {
  display: flex;
  flex-direction: column;
}

.footer-form__title {
  margin-bottom: 23px;
  font-size: 48px;
  font-weight: normal;
  line-height: 65px;
  color: var(--block-color);
}

.footer-form__label {
  margin-bottom: 27px;
}

.footer-form__form-input {
  width: 100%;
  padding: 22px 0 17px 24px;
  color: var(--block-color);
  border: none;
  background: #414141;
  border-radius: 16px;
}

.footer-form__form-input:hover {
  background-color: #666;
  transition: background-color .3s ease-in-out;
}

.footer-form__form-input:active {
  color: var(--white-color);
  background-color: #666;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.footer-form__form-textarea {
  padding-top: 22px;
  padding-left: 24px;
  margin-bottom: 29px;
  height: 150px;
  border: none;
  border-radius: 16px;
  resize: none;
  color: var(--block-color);
  background: #414141;
  transition: background-color .3s ease-in-out;
}

.footer-form__form-textarea:hover {
  background-color: #666;
  transition: background-color .3s ease-in-out;
}

.footer-form__form-textarea:active {
  color: var(--white-color);
  background-color: #666;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.footer-form__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-form__btn {
  padding-left: 51px;
  padding-right: 57px;
  padding-bottom: 0;
  line-height: 60px;
  color: var(--white-color);
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  background-color: var(--hover-link);
  transition: background-color .3s ease-in-out;
}

.footer-form__btn:hover {
  background-color: #F7B045;
  transition: background-color .3s ease-in-out;
}

.footer-form__btn:focus {
  outline: 1px solid #FF9900;
  outline-offset: 1px;
}

.footer-form__btn:active {
  background-color: #E1670E;
  transition: background-color .3s ease-in-out;
}

.footer-form__checkbox {
  position: relative;
  color:#CACACA;
}

.footer-form__checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.footer-form__checkbox-label {
  padding-left: 16px;
  word-spacing: 2px;
}

.footer-form__checkbox-label::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 1px;
  border: 1px solid #cacaca;
  z-index: 1;
}

.footer-form__checkbox-label:hover {
  border-bottom: 1px solid #ff9900;
  cursor: pointer;
}

.footer-form__checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  opacity: 0;
  background: url('../img/svg/ready.svg') no-repeat;
  background-size: 11px 12px;
}

.footer-form__checkbox-input:checked +
.footer-form__checkbox-label::after {
  opacity: 1;
}

.footer__description {
  width: 370px;
  padding-top: 90px;
  font-weight: normal;
  line-height: 32px;
  color: var(--block-color);
}

.footer__description-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
